<!DOCTYPE html>
<head>
  <title>PDF Links Service</title>
  <link crossorigin="anonymous"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        rel="stylesheet">
  <script crossorigin="anonymous"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // source: https://stackoverflow.com/questions/51805395/navigator-clipboard-is-undefined
    window.copyToClipboard = function (textToCopy) {
      const showToast = () => new bootstrap.Toast(document.getElementById("copiedToast")).show();
      // navigator clipboard api needs a secure context (https)
      if (navigator.clipboard && window.isSecureContext) {
        // navigator clipboard api method'
        return navigator.clipboard.writeText(textToCopy).then(showToast);
      } else {
        // text area method
        let textArea = document.createElement("textarea");
        textArea.value = textToCopy;
        // make the textarea out of viewport
        textArea.style.position = "fixed";
        textArea.style.left = "-999999px";
        textArea.style.top = "-999999px";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();
        return new Promise((res, rej) => {
          // here the magic happens
          document.execCommand('copy') ? res() : rej();
          textArea.remove();
        }).then(showToast);
      }
    }

    window.robustify = function (target) {
      const log = document.getElementById("log");
      const urls = JSON.parse(target.dataset.urls);
      const decoder = new TextDecoder('utf-8');
      const successUris = [];
      const errorUris = [];
      document.getElementsByName("url")
        .forEach(e => e.setAttribute("disabled", ""));
      fetch("/robustify", {
        method: "post",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify(urls)
      })
        .then(response => response.body.getReader())
        .then(async reader => {
          while (true) {
            const {done, value} = await reader.read();
            if (done) {
              // final update
              document.getElementsByName("url")
                .forEach(e => e.removeAttribute("disabled"));
              target.classList.replace("btn-primary", "btn-success");
              break;
            }
            // incremental update
            const res = JSON.parse(decoder.decode(value).trim());
            const uri = res['uri'];
            let text = "";
            if (res['ok']) {
              const href_uri_r = res['href_uri_r'].replaceAll(/[\s\n]+/g, " ");
              const cp_href_uri_r = "`" + href_uri_r.replaceAll("'", '"') + "`";
              const href_uri_m = res['href_uri_m'].replaceAll(/[\s\n]+/g, " ");
              const cp_href_uri_m = "`" + href_uri_m.replaceAll("'", '"') + "`";
              text = String.raw`
<div class="card mb-2">
  <div class="card-header px-2 bg-success text-white">
    <b>${uri}</b>
  </div>
  <div class="card-body p-2">
    <table class="card-text w-100">
    <tbody>
      <tr>
        <td style="width:4em;"><b>URI-R:</b></td>
        <td>${href_uri_r}</td>
        <td style="width: 4em;">
          <button
            type="button"
            class="btn btn-success btn-sm float-end"
            style="font-size:0.6rem;"
            onclick='window.copyToClipboard(${cp_href_uri_r})'>Copy</button></td>
      </tr>
      <tr>
        <td style="width:4em;"><b>URI-M:</b></td>
        <td>${href_uri_m}</td>
        <td style="width: 4em;">
        <button
          type="button"
          class="btn btn-success btn-sm float-end"
          style="font-size:0.6rem;"
          onclick='window.copyToClipboard(${cp_href_uri_m})'>Copy</button></td>
      </tr>
    </tbody>
    </table>
  </div>
</div>`;
              successUris.push(uri);
            } else {
              const err = res['error'];
              text = String.raw`
<div class="card mb-2">
  <div class="card-header px-2 bg-warning text-white">
    <b>${uri}</b>
  </div>
  <div class="card-body p-2">
    <table class="card-text w-100">
    <tbody>
      <tr>
        <td style="width:4em;"><b>Error:</b></td>
        <td>${err}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>`;
              errorUris.push(uri);
            }
            log.innerHTML += text;

            [...document.getElementsByName("url").values()]
              .filter(e => JSON.parse(e.dataset.urls).every(u => successUris.includes(u)))
              .forEach(e => e.classList.replace("btn-primary", "btn-success"));
            [...document.getElementsByName("url").values()]
              .filter(e => JSON.parse(e.dataset.urls).some(u => errorUris.includes(u)))
              .forEach(e => {
                e.classList.replace("btn-primary", "btn-warning");
                e.classList.replace("btn-success", "btn-warning");
              });
          }
        })
    }
  </script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark mb-2">
  <a class="navbar-brand ms-2" href="/">PDF Links Service</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h2>Extracted Links</h2>
      <h3 class="text-muted">{{filename}}</h3>
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th>URL</th>
          <th>Actions</th>
        </tr>
        </thead>
        {% for url in urls %}
        <tr>
          <td class="w-100" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:0;">
            <a href='{{url}}' target="_blank">{{url}}</a>
          </td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              data-urls='["{{url | safe}}"]'
              name="url"
              onclick="window.robustify(this)">
              Robustify
            </button>
          </td>
        </tr>
        {% endfor %}
        <tfoot>
        <tr>
          <td colspan="2">
            <button
              class="btn btn-primary btn-sm w-100"
              data-urls='{{urls | tojson}}'
              name="url"
              onclick="window.robustify(this)">
              Robustify All
            </button>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-12 col-lg-6">
      <h2>Robustifcation Log</h2>
      <p>This section will display the log for link robustification.</p>
      <div class="w-100 h-100 p-2 small"
           id="log"
           style="border:1px solid black;max-height:80vh;overflow-y:scroll"></div>
    </div>
  </div>
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div aria-atomic="true" aria-live="assertive" class="toast hide" id="copiedToast" role="alert">
      <div class="toast-header bg-success text-white">
        <strong class="me-auto">Copied</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
      </div>
      <div class="toast-body">You can now paste the copied href into an HTML.</div>
    </div>
  </div>
</div>
</body>
