<!DOCTYPE html>
<head>
  <!-- title -->
  <title>PDF Links Service</title>
  <!-- favicon -->
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="shortcut icon">
  <!-- meta -->
  <meta charset="UTF-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <!-- css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet">
  <!-- js -->
  <script rel="script" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script rel="script" src="{{ url_for('static',filename='robustify.js') }}"></script>
  <!-- monaco -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/editor/editor.main.min.css"
        rel="stylesheet"/>
  <script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs/loader.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark mb-2">
  <a class="navbar-brand ms-2" href="/">PDF Links Service</a>
  <a class="btn btn-light me-2" target="_blank" href="/docs">Docs</a>
</nav>
<div class="container">
  <div class="row mb-3">
    <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex flex-column">
      <h2>Extracted Links</h2>
      <div>This section will display the links extracted from the PDF</div>
      <p><b>File: </b><a href="/pdfs/{{ filename }}" target="_blank">{{ filename }}.pdf</a></p>
      <div class="d-flex flex-column flex-grow-1 mb-1">
        <table class="table table-sm table-hover my-0">
          <thead>
          <tr>
            <th><label><input id="all" value="true" type="checkbox"
                              onclick="[...document.getElementsByName('url').values()].forEach(e => e.checked = this.checked)"></label>
            </th>
            <th>URL</th>
          </tr>
          </thead>
          {% for url in urls %}
            <tr>
              <td><label><input name="url" type="checkbox" value='{{ url|safe }}'></label></td>
              <td class="w-100 nowrap"><a href='{{ url }}' target="_blank">{{ url }}</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
      <button class="btn btn-primary btn-sm w-100" name="url" onclick="robustify('{{ filename }}', this)">Robustify
      </button>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column">
      <h2>Robustified Links</h2>
      <div>This section will display the extracted links that were robustified</div>
      <p class="text-muted mb-4">
        <span id="progress">(Once you begin to robustify, your progress will show here)</span>
        <span class="spinner-border spinner-border-sm text-primary d-none ml-1" id="spinner" role="status"></span>
      </p>
      <div class="w-100 small b-1 d-flex flex-column flex-grow-1" id="log"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Notify Robustification</h2>
      <div>This section will let you send a Linked Data (LD) Notification to an LD Server</div>
      <label class="form-label mt-2" for="ld-server-url"><b>LD Server URL</b></label>
      <div class="input-group input-group-sm mb-2">
        <input class="form-control" id="ld-server-url" name="ld-server-url" type="url"
               value="http://160.1.118.115:8088">
        <button class="btn btn-primary"
                onclick="getLDN('{{ filename }}', 'ld-server-url').then(value => window.ldnEditor.setValue(value))"
                type="button">
          Preview LDN
        </button>
      </div>
      <div class="my-3">
        <label class="form-label" for="ldn-msg"><b>LDN Preview</b></label>
        <div class="b-1 p-1 mb-1 w-100 overflow-hidden" id="ldn-msg" style="height:320px;"></div>
        <div class="d-flex flex-row">
          <button class="btn btn-success btn-sm my-1 w-100 me-1"
                  onclick="sendLDN('{{ filename }}', 'ld-server-url').then(_ => showToast('ldnSentToast')).catch(_ => showToast('ldnFailToast'))"
                  type="button">
            Send LDN
          </button>
          <button class="btn btn-primary btn-sm my-1 w-100 ms-1" type="button"
                  onclick="previewLDN(window.ldnEditor.getValue())">
            Preview Result
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- toasts -->
  <div class="position-fixed top-0 end-0 p-3 z-top">
    <div aria-atomic="true" aria-live="assertive" class="toast hide" id="copiedToast" role="alert">
      <div class="toast-header bg-success text-white">
        <strong class="me-auto">Copied</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
      </div>
      <div class="toast-body">You can now paste the copied href into HTML</div>
    </div>
  </div>
  <div class="position-fixed top-0 end-0 p-3 z-top">
    <div aria-atomic="true" aria-live="assertive" class="toast hide" id="ldnSentToast" role="alert">
      <div class="toast-header bg-success text-white">
        <strong class="me-auto">LDN Sent Successfully</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
      </div>
      <div class="toast-body">Please verify by checking the LDN inbox.</div>
    </div>
  </div>
  <div class="position-fixed top-0 end-0 p-3 z-top">
    <div aria-atomic="true" aria-live="assertive" class="toast hide" id="ldnFailToast" role="alert">
      <div class="toast-header bg-danger text-white">
        <strong class="me-auto">Could not send LDN</strong>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="toast" type="button"></button>
      </div>
      <div class="toast-body">Please check your console for more information.</div>
    </div>
  </div>
</div>
<script>
  const url = 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.26.1/min/vs';
  require.config({paths: {'vs': url}});
  getLDN('{{filename}}', 'ld-server-url').then(value => {
    require(["vs/editor/editor.main"], () => {
      window.ldnEditor = monaco.editor.create(document.getElementById('ldn-msg'), {
        value: value,
        language: 'json',
        theme: 'vs-light',
        minimap: {enabled: false},
        scrollBeyondLastLine: false,
        glyphMarginWidth: 0,
        lineDecorationsWidth: 0,
        lineNumbersMinChars: 3,
        lineNumbersMaxChars: 3,
      });
    });
  })
</script>
</body>

